{% extends 'AppEntrega1/inicio.html' %}
{% block head_block %}
    <title>Crear Casas</title>
{% endblock head_block %}

{% block body_block %}
    <h1>Crear Casa</h1>
    
    {%if casa%}
        <p>
            {{casa.escaleras}} {{casa.numero}}
        </p>
    {% endif %}   
        
    <a href={% url 'Casas' %}>Ver lista de casas</a>
    
    <form action={% url 'Crear_casa' idcasa %} method="POST">
        {% csrf_token %}
        <table>
            {{formulario.as_table}}
        </table>
        <input type="submit" value="Crear"/>
    </form>

{% endblock body_block %}