{% extends 'AppEntrega1/inicio.html' %}
{% block head_block %}
    <title>Crear Mascotas</title>
{% endblock head_block %}

{% block body_block %}
    <h1>Crear Mascota</h1>

    {%if mascota%}
        <p>
            {{mascota.nombre}} {{mascota.animal}}
        </p>
    {% endif %}

    <a href={% url 'Mascotas' %}>Ver lista de mascotas</a> 
    
    <form action={% url 'Crear_mascota' %} method="POST">
        {% csrf_token %}
        <table>
            {{formulario1.as_table}}
        </table>
        <input type="submit" value="Crear"/>
    </form>

{% endblock body_block %}