<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href={% static 'AppEntrega1/css/styles.css' %} rel="stylesheet" />
        {% block head_block %}
        {% endblock head_block %}
    </head>
    <body>
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Howlin</a>
                <a href={% url 'inicio' %}>Inicio</a>
                <a href={% url 'Casas' %}>Casas</a>
                <a href={% url 'Mascotas' %}>Mascotas</a>
                <a href={% url 'Vecinos' %}>Vecinos</a>
                <a href={% url 'Editar' %}>Editar Usuario</a>
                <a href={% url 'Editar_avatar' %}>Editar avatar</a>
                {% if not request.user.is_authenticated %}
                    <a class="btn btn-primary" href={% url 'Login' %}>Login</a>
                    <a class="btn btn-primary" href={% url 'Register' %}>Registro</a>
                {% else %}
                    <p> 
                        Bienvenido {{request.user.email}}
                        <a class="btn btn-primary" href="{% url 'Logout' %}">Logout</a>
                    </p>
                {% endif %}
            </div>

        </nav>

        {% if tiene_mensaje %}
            <h3>{{mensaje}}</h3>
            <img src={{url_avatar}} height='50'/>
        {% endif %}
        
        {% block body_block %}
        {% endblock body_block %}

        <header class="masthead">
            {% comment %} <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Generate more leads with a professional landing page!</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </header>

        <script src={% static 'AppEntrega1/js/scripts.js' %}></script>
    </body>


    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/ian-howlin/">Linkedin</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/ian.whow/">Instagram</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Ian Howlin 2021. Entrega Final CoderHouse.</p>
                </div>
            </div>
        </div>
    </footer>

</html>