{% extends 'AppEntrega1/inicio.html' %}
{% block head_block %}
    <title>Crear Vecinos</title>
{% endblock head_block %}

{% block body_block %}
    <h1>Crear Vecino</h1>
    <a href={% url 'Vecinos' %}>Volver al listado de vecinos</a> 
    <form action={% url 'Crear_vecino' %} method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Crear">
        {% comment %} <table>
            {{formulario2.as_table}}
        </table> {% endcomment %}
        {% comment %} <p>Nombre: 
            <input type="text" name="nombre">
        </p>
        <p>Apellido: 
            <input type="text" name="apellido">
        </p>
        <p> Numero: 
            <input type="numero" name="numero">
        </p>
        <input type="submit" value="Crear"/> {% endcomment %}
    </form>

{% endblock body_block %}